CompileFlags:
  Compiler: clang++-18
  Add:
    - -Werror -Wall -Wextra 
    - -Weffc++ -Wsign-compare -Wshadow -Wwrite-strings
    - -Wpointer-arith -Winit-self -Wconversion
    - -Wno-sign-conversion -Wundefined-inline
Diagnostics:
  UnusedIncludes: Strict

InlayHints:
  Designators: No
  Enabled: No
  DeducedTypes: No
